<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<a href="/">To product view</a>
<h2>Mensajes</h2>

User:<input id="user_input" type="text" value="{{this.fullName}}" readonly>
<br>

Message:<input id="message_input" type="text">
<button id="sendBtn">Send</button>
<br>

<div id="chatBox">
    {{#each messages}}
        <span>{{this.user}}: {{this.message}}</span>
        <br>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="js/chat.js"></script>

