<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<h2>Mensajes</h2>

<form>
    <label for="user">User:</label>
    <input type="text" id="user" name="user"><br>
    <label for="message">Message:</label>
     <input type = "textbox" id="message" name="message"></textarea><br>
</form>

<button id="sendBtn">Send</button>


<div id="chatBox">
    {{#each messages}}
        <span>{{this.user}}: {{this.message}}</span>
        <br>
    {{/each}}
</div>

