<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<h2>Mensajes</h2>

User:<input id="user_input" type="text">
<br>
Message:<input id="message_input" type="text">
<br>
<button id="sendBtn">Send</button>
<br>

<div id="chatBox">
    
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="js/chat.js"></script>

