<h3>Log in</h3>

<div>
  <!-- GH login/register --->
  <a href="/api/sessions/github"><button>Entrar con Github</button></a>
</div>

<br>

<form method="POST" action="/login/" id="form-login">
  <label for="email">Name:</label>
  <input type="text" id="email" name="email" placeholder="email" required>
  <br>
  <label for="pass">Pass:</label>
  <input type="password" id="password" name="password" placeholder="password" required>
  <br>
  <input type="submit" value="Log in">
</form>
<!-- local register --->
<a href="/api/sessions/register">Sign up</a>
<!-- password restore --->
<a href="/pwRestoreRequest"> Forgot password?</a>

<script>
    const formLogin = document.querySelector('#form-login')

if (formLogin instanceof HTMLFormElement) {
  formLogin.addEventListener('submit', async function(event) {
    event.preventDefault()

    const email = document.querySelector('#email')
    const password = document.querySelector('#password')
    
    const userData = {
        email:email.value,
        password:password.value
    }
    //-------------------Login auth--------------------
    const { status } = await fetch('/api/auth/login', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
    })
    if (status === 201) {
        window.location.href = '/'
      } else {
        console.log('[login] estado inesperado: ' + status)
      }
    
  })
}
 
</script>

