<h5>Password reset</h5>

</div>
    <div id="reset-password">
        <form>
            <label for="password1">New password:</label>
            <input name="password1" type="password" id="password1" required >
            <br>
            <label for="new-password2">Repeate new password:</label>
            <input name="password2" type="password" id="password2" required >
        </form>
    <button id="restoreBtn">Restore</button>
    </div>
</div>

<script>
    //check if passwords match

    const restoreBtn = document.querySelector("#restoreBtn")
    const url = window.location.pathname
    const code = url.substring(url.lastIndexOf('/') + 1)

    restoreBtn.addEventListener('click',(event)=>{
        const password1 = document.querySelector("#password1")
        const password2 = document.querySelector("#password2")
        if(!password1.value || !password2.value){
            return alert("Enter a password")
        }
        if(password1.value !== password2.value){
            return alert("Passwords don't match")
        }
        fetch('/api/auth/restore', {
            method: "PUT",
            body: JSON.stringify({
                password: password1.value,
                code: code
            })
            ,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(data => {
            console.log(data)
        })
        .catch(error => {
            console.error(error)
        });
    })
</script>